*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.logo{

}

.logo img{
    
}



.top_header{

padding: 14px 0;
}

.top_header ul{
    
margin: 0;
    
padding: 0;
    
list-style: none;
    
display: flex;
    
justify-content: end;
}

.top_header ul li{
    
display: flex;
    
align-items: center;
    
margin-left: 30px;
}

.top_header ul li .icon{
    
font-size: 24px;
    
margin-right: 10px;
    
color: #f69165;
}

.top_header ul li .info{
    
}

.top_header ul li .info h5{
    
margin: 0;
    
font-size: 16px;
    
font-weight: 700;
}

.top_header ul li .info p{
    
margin: 0;
    
font-size: 14px;
color: #a0a0a0;
}


.appoint-btn{

background: #f69165;

padding: 0;

margin: 0;

padding: 15px 20px;

font-size: 14px;

color: #fff !important;

transform: skewX(-20deg);
}

.appoint-btn p{
    
margin: 0;
    
transform: skewX(20deg);
}


.main-header{

background: #00cce1;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    position: relative;
    z-index: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav .nav-item{
    margin-right: 25px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
    
}

.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background: #f69165;
    z-index: -1;
    transition: .4s all ease-in-out;
}


    
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .container-fluid{
    padding: 0;
}

.slider{

    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.height{
    display: flex;
    min-height: 80vh;
    align-items: center;
    
}

.slider h2{
    
background: #00cce1;
    
display: inline-block;
    
color: #fff;
    
text-transform: uppercase;
    
font-size: 30px;
    
padding: 0 5px;
    
margin-bottom: 15px;
}

.slider h1{
    
background: #f69165;
    
color: #fff;
    
display: inline-block;
    
text-transform: uppercase;
    
padding: 0 5px;
    
margin-bottom: 15px;
}

.slider p{
    
color: #636363;
    
margin: 0;
    
margin-bottom: 15px;
}

.btn-learn{

background: #00cce1;

padding: 0;

border-radius: 0;

color: #fff;

padding: 5px 15px;

text-transform: uppercase;

font-size: 14px;
}

.btn-book{
    
background: #f69165;
    
padding: 0;
    
border-radius: 0;
    
color: #fff;
    
padding: 5px 15px;
    
text-transform: uppercase;
    
font-size: 14px;
    
margin-left: 5px;
}

.agency{
    padding: 50px 0;
    position: relative;
}

.doctor{

position: absolute;

left: 50px;

bottom: 0;

width: 480px;
}

.doctor img{
    
}










.our-doctors{
    padding:  100px 0px;
    background: #f9f9f9;
    }
    .heading{
    text-align:  center;
    padding: 25px 0px;
    }
    .heading h2{
    margin-bottom: 0;
    }
    .heading img{
    margin: 10px 0;
    }
    .heading p{
    max-width: 600px;
    margin:0 auto;
    }
    .doctors-info{
    text-align:  center;
    background: #fff;
    border-bottom: 3px solid #00cce1;
    margin-bottom: 30px;
    }
    .doctors-info h3{margin-bottom: 0;margin-top: 15px;}
    .doctors-info span{display:  block;margin-bottom: 20px;color: #707070;font-size: 16px;}
    .doctors-info:hover{
    border-bottom: 3px solid #f69165;
    }
    .doctor-img{
    position:  relative;
    }
    .doctor-img::before{
    position: absolute;
    content: "";
    background:#00000054;
    height:  100%;
    width:  100%;
    top: 0;
    left:  0;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    }
    .doctor-img:hover::before{
    opacity: 1;
    }
    .doctor-img img{
    }
    .social{
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .social li a{
    color: #ffffff;
    border: 1px solid;
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    line-height: 35px;
    opacity: 0;
    text-align: center;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    }
    .doctors-info:hover .social li a{
    opacity: 1;
    }
    .doctor-img .social li a:hover{
    background: #f69165;
    border: none;
    }









    .our-service{
        padding: 100px 0px;
        
    }
    .service{
    border: 5px solid #ebebeb;
    padding: 30px 27px;
    margin-bottom: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    }
    .service:hover{
    border: 5px solid #f69165;
    }
    .service i{
    float:  left;
    /* display:  block; */
    /* margin-right:  5px; */
    /* margin-bottom:  100px; */
    /* padding-top: 0; */
    padding-right: 4px;
    }
    .service h1{
    font-size: 24px;
    /* padding-top: 17px; */
    /* display:  inline-block; */
    margin-bottom: 17px;
    padding-top: 22px;
    }
    .service p{padding: 7px 0px;/* margin-left: 0px; *//* max-width: 750px; */margin-bottom: 8px;}
    .service a{
    text-decoration:  none;
    color: #6f6e6e;
    font-weight:  bold;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    }
    .service a:hover{
    color: #f69165;
    }
    .service a span{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    }
    .service a:hover span{
    margin-left: 5px;
    }

    
.our-price{
    background: #f9f9f9;
    padding: 100px 0;
}
.price-content{
    text-align:  center;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px  #b9b9b96e;
    /* padding: 25px; */
    padding:  25px 0px;
    transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover{
    border: 5px solid #f69165;
}
.price-head{
    margin:  0 auto;
    text-align:  center;
}
.price-head h2{
    margin-bottom:  0px;
    font-size: 30px;
    color: #00cce1;
}
.price-head p{
    font-size: 16px;
    color: #707070;
}
.price-content .price-package{
    background:  #fff;
    /* padding: 0px; */
}
.price-package{
    color: #00cce1;
    padding: 20px 16px;
    background:  #fff;
    margin: 15px 0px;
        transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover .price-package{
    background:#f69165;
    color: #fff;
}

.price-package h1{
    margin-bottom:  0px;
    font-size: 45px;
    letter-spacing: 0px;
}
.price-package h1 span{
    font-size:  24px;
  
}
.price-package span{}
.price-package p{
    margin-bottom: 0px;
    font-weight:  bold;
}
.package{}
.package ul{
    padding-bottom: 10px;
    padding-left:  0;
}
.package ul li{
    list-style: none;
    padding: 5px;
    color: #707070;
}
.package a{}
.package a button{}
.price-btn{
    border:  none;
    padding: 10px 37px;
    background: #00cce1;
    color:  #fff;
    font-weight:  bold;
    font-size: 20px;
}
.package a .price-btn{}





footer{
    
padding-top: 50px;
    
padding-bottom: 20px;
    
background: #1b1b1b99;
    
color: #fff;
}

.footer-control{
    
    /* display: flex; */
        
    /* align-items: center; */
        
    padding-left: 100px;
    }
    
    .img-2{
    
    margin-bottom: 15px;
    }
    
    .mrgn{
        
    margin-top: 1px;
    }

    .package a .price-btn:hover {
        background-color:#f69165;
    }


    .agency{

    }


    .agency h1{

font-size: 36px;

}
    .agency h2{

font-size: 21px;

}
    .agency p{

font-size: 15px;

}


    .agency .lit-pic{

height: 35px;

}

.mr{
    
}